*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  font-family: "Atkinson Hyperlegible", sans-serif;
}
#nav-bar {
  background: #8a0651;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  z-index: 10;
}
.nav-buttons {
  list-style: none;
  font-size: 1.7rem;
  display: flex;
  margin-right: 20px;
}
.nav-buttons a {
  text-decoration: none;
  color: white;
  display: block;
  padding: 20px;
}
.nav-buttons a:hover {
  background: rgba(24, 103, 134, 0.7);
}
#about {
  height: 100vh;
  background: linear-gradient(
    90deg,
    rgba(57, 57, 57, 1) 0%,
    rgba(22, 22, 22, 1) 100%
  );

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
}
#about h1 {
  font-size: 3.3rem;
}
#about p {
  font-style: italic;
  font-size: 2rem;
  font-weight: 200;
  color: rgba(46, 205, 216, 0.7);
}
#projects {
  text-align: center;
  background: #1f6280;
  color: white;
  font-size: 1.6em;
}
#projects h2 {
  border-bottom: 2px solid white;
  display: inline-block;
  margin-bottom: 30px;
}
.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  gap: 30px;
  margin-top: 20px;
}
.project-grid img {
  object-fit: cover;
  width: 100%;
  height: 400px;
  display: block;
}
.project-grid a {
  text-decoration: none;
  color: white;
}
.project-grid p {
  background: rgb(56, 56, 56);
  padding: 10px;
}
.show-all {
  text-decoration: none;
  color: white;
  background: linear-gradient(
    90deg,
    rgba(57, 57, 57, 1) 0%,
    rgba(22, 22, 22, 1) 100%
  );
  padding: 10px;
  display: inline-block;
  margin-top: 30px;
}
#contact {
  text-align: center;
  font-size: 2rem;
  color: white;
  display: flex;
  flex-direction: column;
  height: 80vh;
  width: 100%;
  justify-content: center;
  background: linear-gradient(
    90deg,
    rgba(57, 57, 57, 1) 0%,
    rgba(22, 22, 22, 1) 100%
  );
}
#contact h2 {
  font-size: 4rem;
}
.contact-link {
  text-decoration: none;
  color: white;
  display: inline-block;
  margin-top: 40px;
  margin-right: 40px;
  font-size: 0.8em;
  transition: 300ms all;
}
.contact-link:hover {
  transform: translateY(7px);
  animation: colorRotate 0.7s linear 0s infinite;
}
.rainbow {
  text-decoration: none;
  animation: colorRotate 0.7s linear 0s infinite;
}

@keyframes colorRotate {
  from {
    color: #6666ff;
  }
  10% {
    color: #0099ff;
  }
  50% {
    color: #00ff00;
  }
  75% {
    color: #ff3399;
  }
  100% {
    color: #6666ff;
  }
}
footer {
  background: linear-gradient(
    90deg,
    rgba(57, 57, 57, 1) 0%,
    rgba(22, 22, 22, 1) 100%
  );
  color: white;
  font-size: 1.3em;
  width: 100%;
  border-top: 4px solid #8a0651;
  padding: 2.8rem;
  text-align: right;
}
.project-card {
  transition: transform 400ms;
}
.project-card:hover {
  transform: scale(1.06);
  box-shadow: 0 0 10px 10px rgb(219, 17, 175);
}
